@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: titilium;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

:root{
    --font-primaria: titilium;
    --font-secundaria: quicksand;
    --font-terciaria: inter;

    --cor-primaria: #fff;
    --cor-secundaria: #000;
    --cor-terciaria: #f90;
    --background-color-primaria: #FF9900;
    --background-color-secundaria: #1B1426;
    --background-color-gradient: linear-gradient(to right bottom, rgba(27,20,38,0.7),rgba(27,20,38,0.4));

    --font-size-tituloPrincipal: 61px;
    --font-size-primaria: 16px;
    --font-size-secundaria: 13px;
    --font-size-terciaria: 14px;
}

body{
    background-color: var(--background-color-primaria);
    color: var(--cor-primaria);
    font-size: 1em;
}

/* classes genericas */

.layout-grid{
    /* border: 1px solid salmon; */
    color: var(--cor-primaria);
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.alinhamento__between__centro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinaneto__centro__centro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* 
.headerBotton__nav__divisao{
    border-top: 2px solid var(--cor-terciaria);
}

.flex__gap__icon{
    gap: 0 18.03px;
}

.grid__margin__mobile{
    margin: 0 19px;
} */

/* Mobile First */

/* Header */
header{
    background-color: var(--background-color-secundaria);
    height: 60px;
}

/* Header Top*/
.headerTop{
    display: none;
}

/* Header Bottom */
.headerBotton{
    height: 100%;
}

.headerBotton__logo{
    width: 86px;
}


.headerBotton__menuDots{
    width: 40px;
    height: 30px;
}

/*
overflow => evita do conteudo transbordar, incluindo uma barra de rolagem ou não.
*/

.headerBotton__nav{
    position: fixed;
    top: 60px;
    left: 0 ;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
    width: 60vw;
    max-width: 306px;
    min-width: 216px;
    height: calc(100vh - 60px);
    min-height: 446px;
    padding: 15px 0px;
    
    background-image: var(--background-color-gradient);
    backdrop-filter: blur(45px);/* Efeito Glass*/
    opacity: 0;
    transition: left 2s, opacity 1s;

}
/* Somente links " filhos diretos."*/
.headerBotton__nav>a{
    text-align: center;
    border-bottom: 1px solid var(--cor-terciaria);
    padding: 1.87em 0;
    font-family: var(--font-terciaria);
    font-size: 0.93em;
    font-weight: 400;
}

.headerBotton__nav>a:last-of-type{
    border-bottom: none;
}

.mostrarMenuEsquerda{
    left: 0vw;
    opacity: 1;
}

.headerBottom__redesSociais{
    position: absolute;
    bottom: 20px;
    left:  calc(50% - 100px);
    width: 200px ;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid var(--background-color-primaria); */
    
}


.headerBotton__menuUser{
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    max-width: 88px;
    min-width: 36px;    
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    
    background-image: var(--background-color-gradient);
    backdrop-filter: blur(45px);

    opacity: 0;
    transition: right 2s, opacity 2s;
}

.headerBotton__menuDots{
    width: 30px;
    height: 30px;
}

.mostrarMenuDireita{
    right: 0vw;
    opacity: 1;
    
}


/* banner */

.banner {
    height: 606px;
    background-image: url(../assets/images/backgroundImgPrincipalMobile.svg);
}

/* Feito por mim  */
/* 
.headerBotton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-terciaria);
    font-size: var(--font-size-terciaria);

}

.headerBotton__nav{
    position: fixed;
    top: 60px;
    left: -90vw ;
    display: flex;
    flex-direction: column;*/
    /* justify-content: space-between; */
    /* width: 60vw;
    max-width: 306px;
    min-width: 216px;
    height: 80vh;
    min-height: 446px;

    padding: 15px 0px;
    background-color: #fff;
    background-image: var(--background-color-gradient);
    opacity: 0;
    transition: left 2s, opacity 1s;

}

.mostrarMenuEsquerda{
    left: 0vw;
    opacity: 1;
   
}

.headerBottom__redesSociais{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.headerBotton__menuUser{
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    max-width: 88px;
    min-width: 36px;
    height: 30vh;
    max-height: 171px;
    min-height: 141px;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    background-image: var(--background-color-gradient);
    opacity: 0;
    transition: right 2s, opacity 2s;
}

.headerBotton__menuDots{
    width: 30px;
    height: 30px;
}
.mostrarMenuDireita{
    right: 0vw;
    opacity: 1;
    
} */ 