@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: titilium;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

:root{
    --font-primaria: titilium;
    --font-secundaria: quicksand;
    --font-terciaria: inter;

    --cor-primaria: #fff;
    --cor-secundaria: #000;
    --cor-terciaria: #f90;
    --background-color-primaria: #FF9900;
    --background-color-secundaria: #1B1426;
    --background-color-gradient: linear-gradient(rgba(27,20,38,1)15%, rgba(27,20,38,0.7),rgba(27,20,38,0.4));

    --font-size-tituloPrincipal: 61px;
    --font-size-primaria: 16px;
    --font-size-secundaria: 13px;
    --font-size-terciaria: 14px;
}



.mobile__grid__content__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
}

.headerBotton__nav__divisao{
    border-top: 2px solid var(--cor-terciaria);
}

.flex__gap__icon{
    gap: 0 18.03px;
}

.grid__margin__mobile{
    margin: 0 19px;
}

/* Mobile First */

body{
    background-color: var(--background-color-primaria);
    color: var(--cor-primaria);
    font-size: 1em;
}


.headerTop{
    display: none;
}

.headerBotton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-terciaria);
    font-size: var(--font-size-terciaria);
}

.headerBotton__nav{
    position: fixed;
    top: 60px;
    left: -90vw ;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 60vw;
    max-width: 306px;
    min-width: 216px;
    height: 80vh;
    min-height: 446px;

    padding: 15px 0px;
    background-color: #fff;
    background-image: var(--background-color-gradient);
    opacity: 0;
    transition: left 2s, opacity 1s;

}

.mostrarMenuEsquerda{
    left: 0vw;
    opacity: 1;
   
}

.headerBottom__redesSociais{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.headerBotton__menuUser{
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    max-width: 88px;
    min-width: 36px;
    height: 30vh;
    max-height: 171px;
    min-height: 141px;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    background-image: var(--background-color-gradient);
    opacity: 0;
    transition: right 2s, opacity 2s;
}

.headerBotton__menuDots{
    width: 30px;
    height: 30px;
}
.mostrarMenuDireita{
    right: 0vw;
    opacity: 1;
    
}